
.display-4{
    padding-top: 1em;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 997;
    background: #343b40;
}

#footer {
  background: #343b40;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}
