
@{
    ViewBag.Title = "Tempex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Today Weather</h1>
</div>
<div class="container">
    <div class="card-deck text-center" id="cardContainer">

    </div>
</div>

@{
    var cities = ViewBag.CitiesList;

    foreach (var city in cities)
    {
        <script>
            returnCard('@city');
        </script>
    }
}