<footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Tempex</strong>. All Rights Reserved
        </div>
        <div class="credits">
            Powered by ME
        </div>
    </div>
</footer>