<header id="header">
    <nav class="navbar navbar-expand navbar-dark">
        <a class="mr-4 title">Tempex</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item weather">
                    <a class="nav-link" href="/Home">Today Weather</a>
                </li>
                <li class="nav-item forecast">
                    <a class="nav-link" href="/Forecast">5 Days Forecast</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0" id="searchForm">
                <input class="form-control mr-sm-2" type="text" id="searchBox" placeholder="Find your location...">
                <button class="btn" id="locationButton" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
